/*
Title: Color Blocks Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {
	color: #000;
	border-top: 10px solid #884567;
	padding: 20px;
	background: #dedede url('../resources/honeycomb.gif') repeat; 
}

.content {color: #fff; background: #4ca4bd;}

.content hr {border-top: 1px solid #fff;}

.header_content {margin-bottom: 15px;}

.data_collection {margin-bottom: 15px;}
	
.sidecol {background: #fff;}	

.padding {padding: 30px;}
	
.footer_content {
	border-top: 1px solid #fff;
	margin-top: 15px; 
	padding-top: 30px;
}

a {color: #884567;}
.content a {color: #fff; text-decoration: underline;}	

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 12px; font-size: 1.2rem;
	line-height: 15px; line-height: 1.5rem;
	font-weight: bold;
	color: #884567;
}

div.input, div.input label {color: #000000;}

form input.submit {color: #fff; background: #884567;}

form input.submit:hover {background: #662e4a;}

input[type="radio"], input[type="checkbox"] {margin: 3px 8px 8px 9px;}
#terms_checkbox input[type="checkbox"] {margin: 3px 4px 8px 0;}

/* @end */

/* @group Polls
================================================== */

.vote-so-far {background: #e3f5fa;}
.vote_percentage {background-color: #4ca4bd !important;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	body {padding-top: 45px;}
	#wrap {width: 600px; margin: 0 auto;}
	.content {width: 50%; float: left;}
	.sidecol {width: 50%; float: right;}
}

/* @end */