/*
Title: White Out Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {background: #fff;}

.content {padding: 30px;}

.header_content {margin-bottom: 15px; }

.data_collection {
	margin-bottom: 15px;
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
	}
	
.footer_content {
	border-top: 1px solid #e0e0e0;
	margin-top: 30px; 
	padding-top: 30px;
	}

a {color: #086596;}	

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 11px; font-size: 1.1rem;
	line-height: 13px; line-height: 1.3rem;
	text-transform: uppercase;
	font-weight: bold;
}

form input.submit {color: #fff; background: #086596;}
form input.submit:hover {background: #606060;}


/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	#wrap {border: 1px solid #e0e0e0; margin: 40px;}
	div#recaptcha_widget {background: #f2f2f2; border: 1px solid #e0e0e0; padding: 20px 20px 0;}
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 600px; margin: 40px auto;}
	.content {padding: 40px;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */