/*
Title: Midnight Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {background: #000;}

.content {
	padding: 30px;
	border-top: 40px solid #743049;
	background: #fff;
}

.header_content {margin-bottom: 15px;}

.data_collection {
	margin-bottom: 15px;
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
	}
	
.footer_content {
	padding: 30px;
	background: #743049;
	text-align: center;
	}

.footer_content p {color: #fff;}

a {color: #743049; text-decoration: underline;}
a:hover {text-decoration: none;}

.footer_content a {color: #fff;}	

/* @end */

/* @group Form Elements
================================================== */

div.label {margin-bottom: 10px;}

div.label label {
	font-size: 14px; font-size: 1.4rem;
	line-height: 16px; line-height: 1.6rem;
	font-weight: bold;
	color: #743049;
}

form div.input input[type="text"] {
	width: 97%;
	background: #f5f5f5;
	border-left: 2px solid #743049;
}

form input.submit {color: #fff; background: #743049;}
form input.submit:hover {background: #581d33;}
	
/* @end */

/* @group Polls
================================================== */

p.v-results {clear: both;}
.vote_percentage {background-color: #5eb9ed !important;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	#wrap {margin: 40px;}
	div#recaptcha_widget {background: #f2f2f2; border: 1px solid #e0e0e0; padding: 20px 20px 0;}
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 600px; margin: 40px auto;}
	.content {padding: 40px;}
	div.label {width: 35%; float: left; text-align: right;}
	div.input {width: 60%; float: right;}
	form div.input input[type="text"] {width: 80%;}
}

/* @end */