/*
Title: Stationary Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {
	font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
	background: #b3d0d6 url(../resources/pattern.png) repeat;
}

#wrap {margin: 20px;}

.content {
	padding: 30px; 
	background-color: #fff;
	box-shadow:         1px 1px 3px 1px #9ab3b9;
}
.header_content p {color: #608c95;}

.data_collection {
	margin-bottom: 15px;
	padding-top: 50px;
	background: url('../resources/divider.png') no-repeat center top;
	}
	
.footer_content {padding: 20px 30px 30px 30px;}
.footer_content p {color: #737373;}

.footer hr {border-top:1px solid #fff;}

a {color: #608c95;}	

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 13px; font-size: 1.3rem;
	line-height: 16px; line-height: 1.6rem;
	text-transform: none;
	font-weight: normal;
	color: #608c95;
}

form div.input input[type="text"] {width: 94%;}

form input.submit {
	color: #fff;
 	background: #94bcc4;
	border-radius: 4px;
}

form input.submit:hover {background: #739ea7;}

/* @end */

/* @group Polls
================================================== */

p.v-results {clear: both; text-align: center;}
#vote_options {background: #e9f0f2;}
.vote_percentage {background-color: #94bcc4 !important;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	#wrap {margin: 40px;}
	.content {padding: 50px;}	
	div#recaptcha_widget {background: #f2f2f2; border: 1px solid #e0e0e0; padding: 20px 20px 0; }
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 610px; margin: 50px auto;}
	div.label {width: 38%; float: left; text-align: right;}
	div.input {width: 58%; float: right;}
	.border-top {background: url('../resources/border-top.png') no-repeat center top; height: 30px;}
	.content {
		background: url('../resources/border.png') repeat-y;
		box-shadow: none;
		padding: 30px 50px;
	}
	.border-bottom {background: url('../resources/border-btm.png') no-repeat center top; height: 30px;}	
}

/* @end */