/*
Title: Thin Mint Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {background: #e8e8e8;}

.content {padding: 30px;border: 5px solid #d7d7d7; background: #fff;}

.header_content {border-bottom: 4px solid #74be8f; padding-bottom: 10px;}

.header_content p {
	color: #74be90;
	font-size: 16px; font-size: 1.6rem;
	line-height: 20px; line-height: 2.0rem;	
}

.data_collection {
	margin-bottom: 15px;
	border-top: 4px solid #d7d7d7;
	padding-top: 30px;
	}
	
.footer_content {padding: 30px;}

.footer_content p {
	font-size: 11px; font-size: 1.1rem;
	line-height: 16px; line-height: 1.6rem;	
	color: #7c7c7c;
}

a {color: #4f9268;}	

/* @end */

/* @group Form Elements
================================================== */

div.label {background: #e9fbf0; padding: 6px; width: 97%;}

div.label label {
	font-size: 13px; font-size: 1.3rem;
	line-height: 16px; line-height: 1.6rem;
	font-weight: bold;
	color: #74be8f;
}

div.input, div.input label {
	font-size: 13px; font-size: 1.3rem;
	line-height: 16px; line-height: 1.6rem;
	text-transform: none;
}

form div.input input[type="text"] {padding: 6px 4px; margin-top: 0;}

form input.submit {
	color: #fff;
 	background: #74be90;
	border-radius: 4px;
}

form input.submit:hover {background: #5fa57a;}

.error {background: #3a975d;}

/* @end */

/* @group Polls
================================================== */

#vote_options {background: #f1f1f1;}
.vote_percentage {background-color: #74be90 !important;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	body {border-top: 7px solid #74be90;}
	#wrap {margin: 40px;}	
	div#recaptcha_widget {background: #f2f2f2; border: none; padding: 20px 20px 0;}
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 600px; margin: 50px auto;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */