/*

Title: 		Landing Page Styles
Media:		Screen


/* Globals & Resets
------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

/* 	font-size set following Richard Rutter's method to allow text resizing across all browsers: 
	http://www.alistapart.com/articles/howtosizetextincss/ 
	16px baseline font-size.
	
	Important: 
	Line-height calculations are based on the most immediate font size. 
	For example: if font-size is resized to 14px, begin line-height calculation for that element at 14px (not 16px).
	Otherwise line-height will inherit base line-height of 18px (see body rule). 
*/

body {
	background: #f7f9fb;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.125em; /* 16 x 1.125 = 18px */	
	text-align: center;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-weight: normal;
	line-height: normal; 
	}

ul { list-style: none; }

ol {
	margin-left: 20px;
	}

img, fieldset { border:none; }

a { 
	outline: none;
	text-decoration: none; 
	color: #009fe1;
	}
	
a:hover {
	color: #000;
	text-decoration: underline;
	}
	
:focus, :active {
	outline: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
  padding-top: 12px;
}

th {
	font-weight: bold;
	}

td {
	vertical-align: top;
        padding-bottom: 12px;
	}

.calendar_date_select td {
	padding-bottom: 0;
	}
	
blockquote:before, 
blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.alignleft { 
	float:left;
 	margin: 2px 10px 2px 0;
	}

.alignright { 
	float:right; 
	margin: 2px 0 2px 10px;
	}

.aligncenter {
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	font-size: .75em; /* 12px */
	}
	
.no-m {
	margin: 0;
	}
	
.hide, .skip, .closed { display: none; }

.open { display: block; }

.header_content img, .footer_content img {max-width: 100%; width: auto !important; height: auto !important;}

/* 
	Clearing floats: http://www.positioniseverything.net/easyclearing.html  
*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.c\learfix:after { line-height: 0; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* Structure
------------------------------ */

#wrap {
  border-top: 7px solid #222;
  background: url(bg-fade.png) 7px 0 repeat-x;
  }

.bounds {
	width: 600px;
	margin: 0 auto;
	text-align: left;
	position:relative;
	margin-top: -7px;
	font-size: .875em; /* 14px */
	line-height: 1.5em; /* 21px */
	}
	
.content {
	padding: 30px;
	background: #fff;
	border: 1px solid #dce2e9;
	border-top: none;
	}
	
.header_content {
/*  padding-top: 86px;
  background-image: url(ico-page-type.png);
  background-repeat: no-repeat;
  background-position: 0 0; */
  margin-bottom: 24px;
  } /* Background position is overridden for each page type at the bottom of this file */
	
.campaign_content {
  } /* Used by lists, sweepstakes and polls. Custom styles are at the bottom of this file */

.footer_content {
  padding: 12px 0 64px;
  font-size: .857em; /* 12px */
  line-height: 1.5em; /* 18px */
  }
	

/* Form styles

Your form contains two placeholder tags:

- 'data_collection', which generates the form, and
- 'campaign_content', which generates additional campaign elements like poll questions and  subscription prompts

These tags generate different divs, so style globally on the form, or per div.

--------------------------- */

form {
border-top: 1px solid #e8edf3;
    }

.data_collection {
    } /* An extra containing div just inside the form for additional CSS styles as needed */
    
form div.clearfix, 
form #subscription_checkboxes {
    background: #f5fbfe;
    padding: 10px 18px;
    border-bottom: 1px solid #e8edf3;
    }

form div.label {
  width: 48%;
  float: left;
  }
  
  form div.label label {
    font-size: .928em;
    line-height: 29px;
    color: #729801;
    }
    
form div.input {
    float: right;
    width: 48%;
    }

form div.input label, 
form div.poll_option div.input {
	margin: 0 6px 0 0;
	font-size: 12px;
  } /* For radio button and checkbox labels */
  
  form div.input label.child_label {
    margin: 0 6px;
    } /* For checkbox labels only */


    form div.poll_option div.input input {
      margin-right: 6px;
      } /* For poll radio buttons */

form div.input input[type="text"] {
  width: 96%;
	font-size: 13px;
  padding: 3px 4px;
  }

form label.radio {
  margin: 0;
  width: auto;
  display: inline;
  }

form .req {
  margin-left: 52%;
  font-size: .857em; /* 11px */
  padding: 6px 0 12px;
  }
    
.data_collection span {
  color: #900;
  } /* Highlights the asterisk denoting required fields */


form input.submit {
	margin-left: 52%;
	color: #fff;
	border: none;
	font-size: 1em; /* 14px */
  background: #009fe1;
	padding: 12px 24px;
	border-radius: 6px;
	font-weight: bold;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
  -webkit-appearance:none;
} /* the submit button */



form input.submit:hover {
  cursor: pointer;
  background: #222;
  }

.error {
	background: #c00;
	padding: 6px 12px;
	color: #fff;
	margin-bottom: 22px;
  }

.bounds .error ul {
	padding-top: 6px;
	font-size: .875em; /* 12px */
  }
  
select {margin-right: 5px;}  

/* Captcha 
--------------------------- */

div#recaptcha_widget {
padding-top: 12px;
}

div#recaptcha_widget a {
	font-size: .75em;
  }

div#recaptcha_widget a, 
#recaptcha_image {
	margin-left: 52%;
  }

div#recaptcha_widget span a {
  margin-left: 0;
  }

div.captcha {
	padding-bottom: 24px;
  }

span.recaptcha_only_if_image, 
span.recaptcha_only_if_audio {
	display: block;
	margin-left: 52%;
	font-size: .875em;
	color: #333;
  }

div#recaptcha_image, 
div#recaptcha_image img {
	width: 240px !important;
	height: auto;
}

input#recaptcha_response_field {
	margin: 0 0 18px 52%;
  }


/* List styles
------------------------ */

div.list .campaign_content {
  font-size: 12px;
  margin-left: 52%;
  padding: 18px 0;
  }

#subscription_checkboxes input {
  margin-left: 52%;
  }

.subscription_checkbox {
	padding-left: 6px;
	font-size: 12px;
  }

/* Update preferences styles
----------------------------------- */

body.update_preferences .header_content {
  background-position: -2800px 0;
  }
  
body.update_preferences div.list .campaign_content {
  font-size: inherit;
  margin-left: 0;
  padding: 0;
  }
  
body.update_preferences .campaign_content p, 
body.update_preferences form div.clearfix, 
body.update_preferences .campaign_content input.submit {
  margin-bottom: 18px;
  }
  
p.create-subscription {
  margin-left: 52%;
  }

/* Confirmation page for list, sweeps, poll, standalone
---------------------------------------------------------------- */

body.details .header_content, 
body.post_submission .header_content {
  background-position: -700px 0;
  }

/* Sweepstakes styles
-------------------------- */

body.landing div.sweepstakes .header_content {
  background-position: -1400px 0;
  }
  
#terms_checkbox {
    margin-left: 52%;
    padding-bottom: 18px;
    } /* Shows if the participant must accept the rules before entry */
    
#terms_checkbox input {
  float: left;
  }
    
#terms_checkbox span {
  margin-left: 24px;
  display: block;
  font-size: .875em;
  line-height: 1.5em;
  }

/* Rules styles
---------------------- */
  
body.rules .header_content {
  background-position: -3500px 0;
  }

  
/* Poll styles
---------------------------- */

body.landing div.poll .header_content {
  background-position: -2100px 0;
  }

div.poll .content p.vote-so-far {
padding: 12px 0;
text-align: center;
}
  
/* Standalone page
--------------------------- */

div.standalone_form .header_content {
  padding-top: 0;
  background: none;
  }