/*

Title: 		Landing Page Styles
Media:		Mobile - 320 - 480


*/

body {
	width: 100%; 
	-webkit-text-size-adjust: none;
	}

.bounds { 
	width: auto; 
	margin: 0; 
	padding: 0;
	}

.footer_content {
  margin: 0 24px;
  }
  
  .header_content img, .footer_content img {max-width: 100%; width: auto !important; height: auto !important;}

/* Form
---------------- */

form {
    margin-bottom: 24px;
    }
    
form div.label {
  text-align: left;
	width: auto;
  float: none;
  }
    
form div.input {
  float: none;
  width: auto;
  }

form label {
	margin-right: 0;
	color: #333;
	font-size: 1em;
}

form label.radio {
        width: auto;
        display: inline;
}

form .req {
    margin-left: 0;
    font-size: .815em;
    margin-bottom: 12px;
    }

form input.submit, 
form .req, 
div.list .campaign_content, 
#subscription_checkboxes input, 
#terms_checkbox {
  margin-left: 0;
  } /* Turn off left margin 52% */  

form input.submit {
  -webkit-appearance:none;
  }

/* Captcha 
-------------------- */

div.captcha {
	padding-bottom: 24px;
}

div#recaptcha_image, div#recaptcha_image img {
	width: 240px !important;
	height: auto;
}

input#recaptcha_response_field {
	margin-bottom: 18px;
}

div#recaptcha_widget a {
	font-size: .75em;
    }

div#recaptcha_widget a, #recaptcha_image {
	margin-left: 12px;
    }

div.captcha {
	padding-bottom: 24px;
}

span.recaptcha_only_if_image, span.recaptcha_only_if_audio {
	display: block;
	width: auto;
	text-align: left;
	margin-left: 24px;
	float: none;
	font-size: 1em;
	color: #333;
}

input#recaptcha_response_field {
	margin-bottom: 18px;
}

/* Sweepstakes styles
----------------------------- */

#terms_checkbox input {
  float: none;
  }
  
#terms_checkbox span {
  margin-left: 0;
  display: inline;
  }