/*
Title: Simple Photo Light Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {color: #fff; background: #fff;}

.content {
	padding: 30px;
	background: rgb(0, 0, 0); /* fallback color for browsers that don't support RGBA opacity */
	background: rgba(0, 0, 0, 0.7); 
}

.header_content {margin-bottom: 15px;}

.data_collection {
	margin-bottom: 15px;
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
	}
	
.footer_content {
	border-top: 1px solid #e0e0e0;
	margin-top: 30px; 
	padding-top: 30px;
	}	

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 11px; font-size: 1.1rem;
	line-height: 13px; line-height: 1.3rem;
	text-transform: uppercase;
	font-weight: bold;
}

/* @end */

/* @group Polls
================================================== */

#vote_options {background: #000; border: 1px solid #ccc;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {/* Styles for screens 430px wide and larger */
	#wrap {margin: 40px;}
	.content {
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px; /* rounded corners */}
}

@media screen and (min-width: 500px) { /* Fixed width at 600px wide, and two columns for form elements */
	#wrap {width: 500px; margin: 40px auto;}
	.content {padding: 40px;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */