/*
Title: Simple Photo Light Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# Reset Styles
	# General Layout
	# General Styles
	# Form Elements
	# CAPTCHA
	# Polls
	# Clear Fix
	# Media Queries
*/

/* @group Reset Styles
================================================== */
/* 
html5doctor.com Reset Stylesheet v1.6.1
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
	{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
html {
	font-size: 62.5%; /* Font sizing with rems: http://snook.ca/archives/html_and_css/font-size-with-rem */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {line-height:1;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
hr {display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:20px 0; padding:0;}
input, select {vertical-align:middle;}

/* @end */

/* @group General Styles
================================================== */

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	background: #fff;
}

.content {
	padding: 30px;
	background: rgb(0, 0, 0); /* fallback color for browsers that don't support RGBA opacity */
	background: rgba(0, 0, 0, 0.7); 
}

.header_content {
	margin-bottom: 30px; 
	}

.data_collection {
	margin-bottom: 15px;
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
	}
	
.footer_content {
	border-top: 1px solid #e0e0e0;
	margin-top: 30px; 
	padding-top: 30px;
	}

p, td, li, .campaign_content {
	font-size: 14px; font-size: 1.4rem;
	line-height: 20px; line-height: 2.0rem;
}

span {line-height: 1.2em;}

.footer_content p {
	font-size: 12px; font-size: 1.2rem;
	line-height: 18px; line-height: 1.8rem;	
}

p, img, ul, ol, table {margin-bottom: 15px;}

strong {font-weight: bold;}
em {font-style: italic;}

.alignleft { float:left; margin: 2px 10px 2px 0;}
.alignright { float:right; margin: 2px 0 2px 10px;}
.aligncenter {display: block; margin: 0 auto 20px; text-align: center;}
	
.no-m {margin: 0;}
	
.hide, .skip, .closed { display: none; }
.open { display: block; }	

.header_content img, .footer_content img {max-width: 100%; width: auto !important; height: auto !important;}

table {width: 100% !important;}

#subscription_checkboxes {margin-bottom: 20px;}
#subscription_checkboxes label {font-size: 12px; font-size: 1.2rem; line-height: 18px; line-height: 1.8rem;}

/* @end */

/* @group Form Elements
================================================== */

div.label {margin-bottom: 5px;}

div.input {margin-bottom: 15px;}

div.label label {
	font-size: 11px; font-size: 1.1rem;
	line-height: 13px; line-height: 1.3rem;
	text-transform: uppercase;
	font-weight: bold;
}

div.input, div.input label {
	font-size: 12px; font-size: 1.2rem;
	line-height: 14px; line-height: 1.4rem;
}

small, #terms_checkbox label {
	font-size: 11px; font-size: 1.1rem;
	line-height: 13px; line-height: 1.3rem;
}

form div.input input[type="text"] {
	width: 98%;
	padding: 5px 4px;
	border: 1px solid #d7d7d7;
}

input[type="radio"], input[type="checkbox"] {margin: 3px 8px 8px;}

select {margin-right: 5px;}

#terms_checkbox, .req {margin-bottom: 10px;}

form input.submit {
	border: none;
	padding: 12px 24px;
	font-size: 14px; font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	-webkit-appearance:none;
	margin-top: 10px;
}

form input.submit:hover {cursor: pointer;}

.error {
	background: #c00;
	padding: 15px;
	color: #fff;
	margin-bottom: 20px;
  }
  
.error span, .error ul {
	font-size: 12px; font-size: 1.2rem;
	line-height: 18px; line-height: 1.8rem;
}

.error ul {
	padding-top: 15px;
	margin-left: 15px;
  }
  
.error ul li {
	margin: 0 0 4px 0;
}  

/* @end */

/* @group CAPTCHA
================================================== */

div#recaptcha_widget {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0 0 0;
	margin-bottom: 20px;
}

div#recaptcha_widget a {font-size: 11px; font-size: 1.1rem;}

div.captcha {padding-bottom: 24px;}

span.recaptcha_only_if_image, 
span.recaptcha_only_if_audio {
	display: block;
	font-size: 11px; font-size: 1.1rem;
	margin-bottom: 5px;
  }
  
div.recaptcha_only_if_image {margin: 10px 0;}  

div#recaptcha_image {
	margin-bottom: 15px;
	padding-top: 10px;	
	border: 1px solid #e0e0e0;
	background: #fff;
} 

div#recaptcha_image, div#recaptcha_image img {width: 240px !important; height: auto;}

input#recaptcha_response_field {margin: 0 0 20px 0;}

/* @end */

/* @group Polls
================================================== */

p.v-results {
	font-size: 11px; font-size: 1.1rem;
	margin-bottom: 15px;
}

p.v-current {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 12px; font-size: 1.2rem;
}

p.v-total {
	border-top: 1px dotted #ccc;
	padding-top: 5px;
	font-size: 12px; font-size: 1.2rem;
}

.v-tally {
	font-style: italic;
	font-size: 11px; font-size: 1.1rem;
	margin-left: 3px;
}

.vote-so-far {
	padding: 20px;
	background: #e3f4fd;
	margin-bottom: 20px;
}

#vote_options {
	font-size: 14px; font-size: 1.4rem;
	line-height: 20px; line-height: 2.0rem;
	padding: 20px;
	margin-bottom: 20px;
	background: #000;
	border: 1px solid #ccc;
}

.vote_percentage {
	margin: 5px 0 15px 0;
}

.v-desc {
	font-weight: bold;
}

/* @end */

/* @group Clear Fix
================================================== */

/* Clearing floats: http://www.positioniseverything.net/easyclearing.html  */
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.c\learfix:after { line-height: 0; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {/* Styles for screens 430px wide and larger */
	#wrap {margin: 40px;}
	.content {
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px; /* rounded corners */}
}

@media screen and (min-width: 500px) { /* Fixed width at 600px wide, and two columns for form elements */
	#wrap {width: 500px; margin: 40px auto;}
	.content {padding: 40px;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */