/*
Title: Clean Lines Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
	# Browser Hacks
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

#wrap {border-top: 10px solid #656565;}

.content {padding: 30px;}

.header_content {margin-bottom: 15px;}

.data_collection {
	margin-bottom: 15px;
	border-top: 1px solid #e0e0e0;
	padding-top: 30px;
	}
	
.footer_content {
	padding: 30px;
	background: #656565;
	color: #fff;
	}

a {color: #086596;}

.footer_content a {color: #fff; text-decoration: underline;}

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 13px; font-size: 1.3rem;
	line-height: 16px; line-height: 1.6rem;
	font-weight: bold;
	color: #656565;
}

form input.submit {color: #fff; background: #656565;}
form input.submit:hover {background: #000;}

/* @end */

/* @group Polls
================================================== */

.vote_percentage {background-color: #5eb9ed !important;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	body {background: #dddddd url('../resources/stripes.png');}
	#wrap {margin: 40px;background: #fff;}
	div#recaptcha_widget {background: #f2f2f2; border: 1px solid #e0e0e0; padding: 20px 20px 0;}
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 600px; margin: 40px auto;}
	.content {padding: 40px;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */

/* @group Browser Hacks
================================================== */

html.ie7 .footer_content, html.ie6 .footer_content {padding-top: 0;}
html.ie7 .footer_content p, html.ie6 .footer_content p {padding-top: 30px;}

/* @end */