/*
Title: Paper Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #534832;
	background: #9f8663 url('../resources/paper-dark.jpg') repeat;
}

.content {padding: 30px; background: #d0bf9d url('../resources/paper-light.jpg') repeat;	}

.header_content {margin-bottom: 15px;}

.data_collection {
	margin-bottom: 15px;
	border-top: 5px solid #af9a79;
	padding-top: 30px;
	}
	
.footer_content {
	border-top: 5px solid #af9a79;
	margin-top: 30px; 
	padding-top: 30px;
	}

a {color: #534832;}	

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 12px; font-size: 1.2rem;
	line-height: 14px; line-height: 1.4rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #745e3b;
}

form div.input input[type="text"] {background: #dfd1bb; border: none;}

form input.submit {color: #efe5cf; background: #917a56;}
form input.submit:hover {background: #745f3f;}

/* @end */

/* @group Polls
================================================== */

p.v-current {color: #9f8761;}
.v-tally {color: #745e3b;}
.vote-so-far {background: #dfd1bb;}
#vote_options {background: #dfd1bb;}
.vote_percentage {background-color: #917a56 !important;}
.v-desc {color: #745e3b;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	#wrap {margin: 40px;}
	div#recaptcha_widget {background: #f2f2f2; border: 1px solid #e0e0e0; padding: 20px 20px 0;}
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 600px; margin: 40px auto;}
	.content {padding: 40px;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */