/*
Title: CTA - One Colun Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# CAPTCHA
	# Polls
	# Add This
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {background: #f2f1f1;}

.header {
	background: #fff;
	padding: 50px 0 30px 0;
	text-align: center;
}
.form {
	background: #27c2ea;
	padding: 30px 0;
	color: #fff;
}

.header_content, .form_content {padding: 0 30px; margin: 0 auto;}

.footer {
	padding: 50px 30px;
	text-align: center;
	margin: 0 auto;
}

p, td, li, .campaign_content {
	font-size: 16px; font-size: 1.6rem;
	line-height: 22px; line-height: 2.2rem;
	color: #1e1e1e;
}

.footer_content p {color: #949494;}

a {color: #009bc3;}
.form a {color: #fff; text-decoration: underline;}	

/* @end */

/* @group Form Elements
================================================== */

div.label label {
	font-size: 12px; font-size: 1.2rem;
	line-height: 14px; line-height: 1.4rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

div.input, div.input label {color: #fff;}

form input.submit {color: #fff; background: #017f9f;}
form input.submit:hover {background: #026c88;}

/* @end */

/* @group CAPTCHA
================================================== */

div#recaptcha_widget {background: #49d2f5; padding: 20px 20px 0 20px; border: none;}

/* @end */

/* @group Polls
================================================== */

.vote_percentage {background-color: #5eb9ed !important;}

/* @end */

/* @group Add This
================================================== */

.addthis_toolbox {width: 200px; margin: 0 auto;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 400px) {
	.header_content, .form_content {width: 400px; padding: 0;}
}

@media screen and (min-width: 500px) { /* Fixed width at 500px, and two columns for form elements */
	.footer {width: 500px; padding: 50px 0;}
	div.label {width: 48%; float: left;}
	div.input {width: 48%; float: right;}
}

/* @end */