/*
Title: Straight Up Landing Page Styles
Media: Screen and Responsive
*/

/* Table of Contents
==================================================
	# General Styles
	# Form Elements
	# Polls
	# Media Queries
*/

@import url("http://app.signalhq.com/assets/universal-styles.css");

/* @group General Styles
================================================== */

body {color: #5b595a; background: #5998ad;}

.content {background: #fff;}

.header_content {
	padding-top: 40px;
	margin: 0 40px 30px 40px;	
	border-bottom: 1px solid #e0e0e0;
	}

.data_collection {margin-bottom: 15px; padding: 0 40px;}
	
.campaign_content {padding: 0 40px;}	
	
.footer_content {margin-top: 30px; padding: 0 40px 40px 40px; }

.footer_content p {color: #fff;}

a {color: #386777;}
	.footer_content p a {color: #fff;}	

/* @end */

/* @group Form Elements
================================================== */

div.label {
	background: #e5eef1;
	padding: 7px 3px;
	margin-bottom: 8px;
}

div.label label {
	font-size: 13px; font-size: 1.3rem;
	line-height: 16px; line-height: 1.6rem;
	font-weight: bold;
	color: #386777;
	margin-left: 10px;
}

div.input {padding-top: 1px;}

form div.input input[type="text"] {padding: 7px 2px;}

#terms_checkbox, .req {padding: 0 40px;}

form input.submit {
	color: #fff;
 	background: #386777;
	padding: 10px 15px;
	margin: 10px 40px 40px 40px;
}

form input.submit:hover {background: #244c59;}

div#recaptcha_widget {margin: 0 40px 20px;}

select {margin-top: 8px;}

/* @end */

/* @group Polls
================================================== */

p.v-results {clear: both;}
#vote_options {background: #e5eef1;}
.vote_percentage {background-color: #386777 !important;}
.v-desc {color: #386777;}

/* @end */

/* @group Media Queries
================================================== */

@media screen and (min-width: 430px) {
	.header_content {margin-top: 40px;}
	#wrap {margin: 40px;}
	div#recaptcha_widget {background: #f2f2f2; border: 1px solid #e0e0e0; padding: 20px 20px 0;}
	form div.input input[type="text"] {padding:7px 3px 7px 3px;}
}

@media screen and (min-width: 600px) { /* Fixed width at 600px, and two columns for form elements */
	#wrap {width: 600px; margin: 40px auto;}
	div.label {width: 48%; float: left; margin-top: 2px;margin-bottom: 5px; border: 0;}
	div.input {width: 48%; float: right;}
	.data_collection {padding-left: 0;}	
	form div.input input[type="text"] {padding: 7px 4px; border-top: 1px solid #d7d7d7;margin-top: 2px;}
	.campaign_content {padding-left: 0;}	
	#vote_options {margin: 0 0 20px 40px;}
	div.label label {margin-left: 80px;}
	p.v-results {padding: 0 40px;}
}

/* @end */